.App {
  min-height: 100vh;
  background-color: #5865f2;
  background-image: url("./assets/discord-background.png");
  background-size: cover;
  background-position: center;
  color: white;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.logo {
  width: 125px;
  height: auto;
}

.menu {
  width: 32px;
  height: auto;
}

/* Hero section */

main {
  width: 600px;
  margin: 100px auto 0;
  text-align: center;
}

/* Heading */

h1 {
  margin: 0 0 25px;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 900;
  line-height: 1;
  color: white;
}

/* Description */

p {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
}

/* Buttons */

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 35px;
}

button {
  padding: 15px 25px;
  border: none;
  border-radius: 28px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
}